:root{
    --fondo:  #0B1215;
    --letras: #ffff;
    --botones: #27ABA2;
    --fondo_secundario: #3D3D3D;
    --sombra_btn: #22978fb9;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background: var(--fondo);
    color: var(--letras);
    width: 100%;

}

#login, #registro, #principal{
    min-height: 100vh;
    background: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.80)), url(/assets/fondoconexion.png) no-repeat center center fixed;
    background-size: cover;
}

.contenedor_principal{
    width: 100%;
    margin: auto;
}
.boton, .inicio_sesion{
    padding: 3px 20px;
    border-radius: 20px;
    background: var(--botones);
    border: none;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    cursor: pointer;
    transition: all 0.5s;
}
.inicio_sesion{
    background: none;
    border: 2px solid var(--letras);
    color: var(--letras);
    

}



/*ESTILO PROVISORIO NAVBAR*/

.menu{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 30px;
    background: var(--fondo);
    z-index: 1;
}
.logo img{
    width: 150px;
    cursor: pointer;
    padding-top: 0px;
    border-radius: 100%;
    z-index: 1;
}
.barra_navegacion{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.barra_navegacion .enlaces_de_nav ul li{
    display: inline-block;
    padding: 0 10px;
    font-family: Montserrat;
}

.barra_navegacion .enlaces_de_nav ul li a{
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    color: var(--letras);

}

.barra_botones button{
    margin-left: 25px;
    
}
.barra_botones button:hover{
    transform: translateX(-10px);

}






/* ESTILOS PARA EL INICIO */
.inicio{
    background-color: var(--fondo);
    display: flex;
}
.logo_grande{
    width: 50%;

}
.logo_grande img{
    width: 110%

}
#titulo_ceit{
    font-size: 50dp;
    padding-right: 30px;
    text-transform: uppercase;
    text-indent: -140px;
    font-weight: 500;

}
#leyenda{
    padding-right: 30px;
    margin: auto;
    text-align: right;
}
.desc_inicio{
    width: 50%;
    font-family: Montserrat;
    height: fit-content;
    margin: auto;
    padding-right: 20px;
    text-align: right;
}


/*ESTILOS PARA INFORMACION*/
/*
La parte de información es necesario arreglarla, en page-separation, para que el texto quede como en el mockup
o en su debido caso, cambiar el fondo gris a una imagen de fondo como propuso la nicole
es necesario revisar tambien de forma general que las fuentes esten puestas correctamente
y tambien revisar que los tamaños coincidan, y de no ser así, cambiarlos. Si los tamaños
quedan muy pequeños, entonces ajustarlos sin problema según lo que se requiera.
ver la posibilidad de meter el h3 en un div más adelante según lo que se haga
*/

.informacion{
    display: inline-block;
}

.page-separation{
    height: 200px;

}

.text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    word-spacing: 3px;
    padding-top: 6%;
}

.titulo_nosotros{
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 50px;
    padding: 40px 20px;
    
}
.nosotros{
    background-color: var(--fondo);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 400px;
    padding: 60px;
    
}
.nosotros p{
    font-size: 20px;
    margin-top: 20px;
    padding-left: 20px;
}

.nosotros button{
    margin-top: 60px;
    margin-left: 20px;

}

/*ESTILOS PARA INCIO DE SESION*/



.iniciar-sesion h1, h4{
    color: var(--letras);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
}

.iniciar-sesion input{
    width: 100%;
    outline: none;
    background-color: #0B1215;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #27ABA2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
}
.iniciar-sesion input:focus{
    box-shadow: 0 0 10px 0 var(--botones);

}
.iniciar-sesion button{
    width: 100%;
    background:#27ABA2;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: all 0.5s;

}
.iniciar-sesion button:hover{
    box-shadow: 0 0 20px rgba(2, 187, 125, 0.5);

}
.iniciar-sesion form{
    width: 550px;
    background: #0B1215;
    padding: 100px;
    margin: auto;
    margin-top: 0px;
    border-radius: 20px;
    border: 2px solid #27ABA2;
    box-shadow: 0 0 20px rgba(2, 187, 125, 0.5);
}
.iniciar-sesion a{
    text-decoration: none;
    color: #27ABA2;
}
.logo-login img{
    width: 150px;
    cursor: pointer;
    padding-top: 0px;
    border-radius: 100%;
}
.volver-inicio {
    width: 100%;
    height: 90px;
    margin: auto;
}


/* FORMULARIO DE REGISTRO */



.body-registro {
    color: var(--letras);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
}

.form-reg {
    width: 550px;
    background: #0B1215;
    padding: 100px;
    margin: auto;
    border-radius: 20px;
    border: 2px solid #27ABA2;
    box-shadow: 0 0 20px rgba(2, 187, 125, 0.5);
}

.form-reg .confirm{
    width: 100%;
    background: #27ABA2;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: all 0.5s;
    
}
.form-reg .confirm:hover{
    box-shadow: 0 0 20px rgba(2, 187, 125, 0.5);
}
.cuadros {
    width: 100%;
    background: #0B1215;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 14px;
    border: 1px solid #27ABA2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--letras);
    outline: none;
    transition: all 0.5s;
}
.cuadros:focus{
    box-shadow: 0 0 10px 0 var(--botones);
}

.login-from-reg{
    margin-top: 16px;
    text-align: center;
    color: var(--letras);
    text-decoration: none;
}

.login-from-reg a{
    color: var(--botones);
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box{
    margin-top: 10px;
    margin-bottom: 15px;
}

.info-checkbox{
    text-align: center;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*ESTILOS NEWSLETTERS CEIT*/


.newsletter{
    height: 800px;
    width: auto;
}
.newstitle{
    padding: 170px;
    background-color: var(--fondo);
    font-family: Montserrat;
    text-align: center;
}
.newstitle h1{
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 50px;
    padding-top: 100px;
}

.news{
    min-width: 660px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px;
}
.new{
    width: 30%;
    margin: 20px;
}
.new img{
    border-radius: 15%;
}




/*proyectos*/

.proyectos{
    padding: 70px;
    width: 85%;
    background-color: var(--fondo);
    display: flex;
    justify-content: center;
    margin: auto;

}
.proyecto{
    width: 50%;
    margin: 30px;
    background-color: var(--fondo_secundario);
    padding: 20px;
    border-radius: 10%;

}
.proyecto img{
    width: 100%;
}

.proyecto h6{
    text-align: center;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
    margin: 30px;

}
.proyecto button{
    margin: 10px 70px;
    transition: all 0.3s;
}
.proyecto button:hover{
    transform: translateX(-3px);
    background-color: var(--sombra_btn);
}



/*FORMULARIO*/


.formulario_contacto{
    background-color: var(--fondo_secundario);
    width: 100%;
    padding: 60px;
    height: 700px;
}
.formulario_contacto fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.formulario_contacto h1{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 45px;
    letter-spacing: 3px;
    padding: 10px;
}
.formulario_contacto input, textarea{
    margin: 8px;
    width: 50%;
    padding: 13px;
    resize: none;
    outline: none;
}
.formulario_contacto button{
    width: auto;
    margin-top: 30px;
    transition: all 0.3s;
}
.formulario_contacto button:hover{
    transform: translateX(-3px);
    background-color: var(--sombra_btn);

}

footer{
    display: flex;
    background-color: var(--fondo);
    justify-content: center;
    
    
}
.sociales{
    margin: auto;
    width: auto;
    height: 150px;
    overflow: hidden;
    transition: all 1s;
}


.sociales img{
    width: 100%;
    transition: all 0.6s;
}
.sociales img:hover{
    transform: rotateZ(380deg);
}


p{
    background-color: var(--fondo);
}